* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #c4c4c4;
}

.container {
  max-width: 425px;
  margin: 0 auto;
  height: 100vh;
  background-color: #fff;
  /* position: absolute; */
  /* place-items: centers; */
}

form {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-text {
  height: 40px;
  background-color: #efefef;
  border: 1px solid #818181;
  padding: 0 10px;
  margin-right: 10px;
  flex: 2;
}

.submit {
  height: 40px;
  border-radius: 0;
  border: none;
  background-color: #ff6f6f;
  color: white;
  flex: 1;
  cursor: pointer;
}

/* ul {
  margin: 10px 40px;
} */

li {
  padding-top: 5px;
  list-style: none;
  border: 1px solid #ccc;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todos__list {
  border: none;
  background: inherit;
  font-size: inherit;
}

.remove {
  cursor: pointer;
}
/* 
.delete-btn {
  cursor: pointer;
} */

/* @media only screen and (max-width: 425px) {
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-text {
    flex-grow: 2;
  }

  button {
    flex-grow: 1;
  }
} */
